{% load static from staticfiles %}


<!DOCTYPE html>>


<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">


    </head>
    <body > <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand">  WELCOME TO PIZZA CENTER</a>
        <a href="/userlogin/" class="btn btn-danger">Login</a> 
      </nav>
      <p style="text-align: center;">
        {% for msg in messages %}
        {{msg}}
        {% endfor %}
      </p>
      


        <div class="container-fluid"  style="position: relative;" >
        <div style="position: absolute;top:50px;right:20px;width:500px;height:320px;background-color:chartreuse;padding:40px"class="container">
            <h1 style="text-align: center;color:darkcyan">SIGN UP</h1>
            <form action="/customer/" method="POST">
                {% csrf_token %}
                <input type="text" style="margin-bottom: 15px" class="form-control" name="username" placeholder="username">
                <input type="password" style='margin-bottom: 15px' class="form-control"name="password" placeholder="password">
                <input type="email" style="margin-bottom: 15px" class="form-control" name="email" placeholder="email">
                <input type="submit" style="display: block;margin:auto;margin-top: 10px" class="btn btn-danger">
            </form>
        </div>
    </div>



    </body>
</html>